<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.method}}<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a ng-click="changeMethod('GET')">GET</a></li>
					<li><a ng-click="changeMethod('POST')">POST</a></li>
					<li><a ng-click="changeMethod('PUT')">PUT</a></li>
					<li><a ng-click="changeMethod('DELETE')">DELETE</a></li>
					<li><a ng-click="changeMethod('PATCH')">PATCH</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
			<input type="text" class="form-control" aria-label="..." ng-model="request.url" placeholder="url">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="sendRequest()">Go!</button>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{active:request.tab=='authorization'}"><a ng-click="changeTab('authorization')">authorization</a></li>
			<li role="presentation" ng-class="{active:request.tab=='headers'}"><a ng-click="changeTab('headers')">headers</a></li>
			<li role="presentation" ng-class="{active:request.tab=='body'}"><a ng-click="changeTab('body')">body</a></li>
			<li role="presentation" ng-class="{active:request.tab=='test'}"><a ng-click="changeTab('test')">test</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div ng-show="request.tab=='authorization'" class="panel panel-default">
			<div class="panel-body">
				authorization
			</div>
		</div>
		<div ng-show="request.tab=='headers'" class="panel panel-default">
			<div class="panel-header">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" ng-click="addHeader()">Add</button>
				</div>
			</div>

			<div class="panel-body">
				<div class="col-lg-12" ng-repeat="header in request.headers">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="header.active">
						</span>
						<input type="text" class="form-control" aria-label="..." placeholder="key" ng-model="header.key">
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" aria-label="..." placeholder="value" ng-model="header.value">
						<span class="input-group-addon">
							<button ng-click="request.headers.splice($index,1)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="request.tab=='body'" class="panel panel-default">
			<div class="panel-header">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default" ng-click="addFormDataParameter()" ng-show="request.parameterType=='formDataParameter'">Add</button>
					<button type="button" class="btn btn-default" ng-click="addWwwFormDataParameter()" ng-show="request.parameterType=='wwwFormDataParameter'">Add</button>
				</div>
				<label><input type="radio" ng-model="request.parameterType" value="formDataParameter" name="parameterType">form Data</label>
				<label><input type="radio" ng-model="request.parameterType" value="wwwFormDataParameter" name="parameterType">www form Data</label>
			</div>

			<div class="panel-body" ng-show="request.parameterType=='formDataParameter'">
				<div class="col-lg-12" ng-repeat="formDataParameter in request.formDataParameters">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="formDataParameter.active">
						</span>
						<input type="text" class="form-control" aria-label="..." placeholder="key" ng-model="formDataParameter.key">
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" aria-label="..." placeholder="value" ng-model="formDataParameter.value">
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" aria-label="..." placeholder="value" ng-model="formDataParameter.type">
						<span class="input-group-addon">
							<button ng-click="request.formDataParameters.splice($index,1)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</span>
					</div>
				</div>
			</div>

			<div class="panel-body" ng-show="request.parameterType=='wwwFormDataParameter'">
				<div class="col-lg-12" ng-repeat="wwwFormDataParameter in request.wwwformDataParameters">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="wwwFormDataParameter.active">
						</span>
						<input type="text" class="form-control" aria-label="..." placeholder="key" ng-model="wwwFormDataParameter.key">
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" aria-label="..." placeholder="value" ng-model="wwwFormDataParameter.value">
						<span class="input-group-addon">
							<button ng-click="request.wwwformDataParameters.splice($index,1)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="request.tab=='tests'" class="panel panel-default">
			<div class="panel-body">
				tests
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<requester-response response="response"></requester-response>
	</div>
</div>